<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{ISO8601} %p [%t] %c{36}.%M(%L) | %m%n" />
		</Console>

		<RollingRandomAccessFile name="FILE"
			fileName="./logs/reactive-demo.log"
			filePattern="./logs/reactive-demo-%d{yyyy-MM-dd-HH}-%i.log.gz"
			immediateFlush="true" append="true">
			<PatternLayout>
				<pattern>%d{ISO8601} %p [%t] %c{36}.%M(%L) | %m%n</pattern>
				<charset>utf-8</charset>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Logger name="org.apache" level="DEBUG"/>
		<Logger name="org.flywaydb" level="WARN"/>
		<root level="INFO">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="FILE" />
		</root>
	</Loggers>

</Configuration>
